.contact-div{
    display: flex;
    gap: 0.3rem;
}

.image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
   
}
.img{
    width: 50%;
    height: 50%;
   
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.5rem solid rgb(111, 190, 230);
}
