#display{
    flex: 2;
    color: black;
    background: linear-gradient(to bottom, white, rgb(181, 211, 226));
    padding: 0 1.5rem;
    padding-bottom:  1rem;
    margin: 0px 5rem 0px 5rem;
    padding: 0.9rem;
    border-radius: 10px;
    padding-top: 0.1rem;
}

@media (max-width: 768px) {
    #display{
        margin: 0;
        width: 100%;
    }
}
#display p{
    font-weight: 600;
}

#display hr{
    border: 4px solid black;
}