#display{
    flex: 2;
    color: black;
    background: linear-gradient(to bottom, white, rgb(181, 211, 226));
    padding: 0 1.5rem;
    padding-bottom:  1rem;
    margin: 0px 8rem 0px 8rem;
    padding: 3rem;
    border-radius: 10px;
    border: 0.4rem dashed black;
}

@media (max-width: 768px) {
    #display{
        margin: 0;
        width: 100%;
    }
}
#display p{
    font-weight: 600;
}

#display hr{
    border: 4px solid grey;
}