#app{
    width: 100vw;
    height: 100vh;
    gap: 1rem;
}
.contact, .eduction, .workxp, .skill, .extra {
    outline: 1rem solid rgb(25, 105, 99);
    border-radius: 10px;
    margin: 0.5rem 0px 2.5rem 0px;
    padding: 1rem;
    margin-top: 0;
    padding-top: 0;
    
}